<!DOCTYPE html>
<html>
    <head>
        <title>Rally Organizer/title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
    <body>
        <div id="content">
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <nav>
                <a href="/">Home</a>
                <div>
                    {% if current_user.is_authenticated %}
                    <a href="/new_event">New event</a>
                    <a href="/new_spot">New spot</a>
                    <a href="/logout">Log Out</a>
                    
                    {% else %}
                    <a href="/signup">Sign Up</a>
                    <a href="/login">Log In</a>
                    {% endif %}
                    
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
